# Unit file for kradio
[Unit]
Description=KRadio
After=network.target

[Service]
Type=simple
User=kradio
SupplementaryGroups=i2c
WorkingDirectory=/home/kradio/raspiradio
ExecStart=/home/kradio/raspiradio/.venv/bin/kradio

[Install]
WantedBy=multi-user.target
