# Unit file for kradio
[Unit]
Description=KRadio
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/kradio/raspiradio
ExecStart=/usr/bin/python3 -m prog.radio

[Install]
WantedBy=multi-user.target
